{% extends "./public.html" %}
{% block title %}
{{article.title}} | {{config.title}}
{% endblock %}
{% block description %}
{{article.summary | replace("\n", "") | replace("[···]","")}}
{% endblock %}
{% block keywords %}
{{article.tags | replace('|',',') }}
{% endblock %}
{% block content %}

<script>
  // "image":{"viewList":["tsina","weixin","douban","fbook","twi","linkedin"],"viewText":"分享到：","viewSize":"16"},
window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":["mshare","tsina","weixin","renren","douban","tieba","bdhome","sqq","fbook","twi","linkedin","youdao","sdo","qingbiji","mail","evernotecn","copy"],"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["tsina","weixin","douban","fbook","twi","linkedin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
<article>
  {% if article.show !== 1 %}
  <div class="meta">
    <time datetime="{{think.datetime(article.date,'YYYY-MM-DD HH:mm:ss')}}" pubdate>
      {{controller.date(article.date)}}
    </time>
    <div class="comment">
      <a href="/article/{{article.routename}}.html#disqus_thread">{{article.comment}}&nbsp;Comments</a>
    </div>
    <div class="category">
      <a href="/categories.html#{{article.cateName.name}}" name="{{article.cateName.name}}">
        &nbsp;/&nbsp;
        {{article.cateName.name}}</a>
    </div>
  </div>
  <h1 class="title">
    {{article.title}}
    {% if article.show == 0 %}
    &nbsp;<span>置顶</span>
    {% endif %}
  </h1>
  {% endif %}
  <div class="entry-content">
    <p>{{article.content | safe }}</p>
    {% if article.show !== 1 %}
    <p class="lastUpdate">🐣 发表： {{think.datetime(article.date*1000, 'YYYY-MM-DD HH:mm:ss')}} &nbsp; | &nbsp; 最后更新： {{think.datetime(article.lastdate*1000, 'YYYY-MM-DD HH:mm:ss')}}</p>
    <p class="tags">Tags:
      {% for tags in article.tags|tags %}
      <a href="/tag/{{tags}}.html"># {{tags}}</a>
      {% endfor %}
    </p>
    <div class="license">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="知识共享许可协议" style="border-width:0;display: inline-block;vertical-align: middle;" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">「{{article.title}}」</span> 由 <a xmlns:cc="http://creativecommons.org/ns#" href="https://wangwenbo.me" property="cc:attributionName" rel="cc:attributionURL">{{config.author}}</a> 创作，采用 <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享 署名-非商业性使用-相同方式共享 4.0 国际 许可协议</a>进行许可。<br />基于<a xmlns:dct="http://purl.org/dc/terms/" href="http://wangwenbo.me/article/{{article.routename}}.html" rel="dct:source">{{config.title}}</a>上的作品创作。
      <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a><a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a><a href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter"></a><a href="#" class="bds_linkedin" data-cmd="linkedin" title="分享到linkedin"></a></div>  
    </div>
    {% endif %}
  </div>
</article>
{% if article.show != 1 %}
<div class="otheread">
  <h3>分类「 {{article.cateName.name}} 」的其它文章</h3>
  {%if suggestList.length == 0 %}
  <p class="nomore">该分类下暂无其它文章</p>
  {% endif %}
  <ul>
    {% for sl in suggestList %}
    <li><a href="/article/{{sl.routename}}.html">{{sl.title}}</a>
      &nbsp;
      <time>{{controller.date(sl.date, 'MM月DD, YYYY')}}</time></li>
    {% endfor %}
  </ul>
</div>
<a href="javascript:;" class="scroll-to-top">TOP</a>
<div class="pagination">
  {% if p %}
  <a href="/article/{{p.routename}}.html" class="prev">
    上一篇: 
    <span>{{p.title}}</span>
    <!-- <p class="prev"></p> -->
  </a>
  {% endif %}

  {% if n %}
  <a href="/article/{{n.routename}}.html" class="next">
    下一篇: 
    <span>{{n.title}}</span>
    <!-- <p class="next"></p> -->
  </a>
  {% endif %}
</div>
<script>
var oTopBtn = document.querySelector('.scroll-to-top');
var oLinkBtn = document.querySelector('a[href*="#"]');
var opt={
  speed: 2000, easing: 'easeOutCubic'
}
oTopBtn.addEventListener('click', function() {
  var scroll = new SmoothScroll();
  var header = document.querySelector('header');
  scroll.animateScroll(header, oTopBtn, opt);
}, false);
// oLinkBtn.addEventListener('click', function(){
//   var scrolla = new SmoothScroll('a[href*="#"]',{easing: 'easeInQuad'});
// })
var scrolla = new SmoothScroll('a[href*="#"]', opt);

</script>
{% endif %}
{% include "./comment.html" %}
{% endblock %}
