{% extends "./public.html" %}
{% block content %}
<script src="static/src/blotter.min.js"></script>
<script src="static/src/channelSplitMaterial.js"></script>
<div class="activeinfo">
  <!-- <h1>专题 / ({{count}})</h1>
  <p>{{config.topicDesc}}</p> -->
  <div id="effect">

  </div>
</div>
<script>
  console.log('aa')
  var text = new Blotter.Text("WANGWENBO.ME", {
    family : "'EB Garamond', serif",
    size : 100,
    fill : "#02f"
  });
  var material = new Blotter.ChannelSplitMaterial();
  material.uniforms.uOffset.value = 0.084
  material.uniforms.uRotation.value = 312
  var blotter = new Blotter(material, {
    texts : text
  });
  var elem = document.getElementById("effect");
  var scope = blotter.forText(text);
  scope.appendTo(elem);
</script>
<ul class="cate-list">
  <li class="title">分类导航({{count}})</li>
  {% for cate in cate_list %}
  <li><a href="#{{cate.name}}" name="{{cate.name}}">{{cate.name}}</a></li>
  {% endfor %}
</ul>
{% for list in cate_list %}
<section class="archives">
  {% if list.list.length %}
    <h1 class="year" name="{{list.name}}">{{list.name}}&nbsp;({{list.list.length}})</h1>
  {% endif %}
  <ul>
    {% for post in list.list %}
    <li><a href="/article/{{post.routename}}">{{post.title}}</a>
      &nbsp;
      <time datetime="{{think.datetime(list.date,'YYYY-MM-DD HH:mm:ss')}}" pubdate><i>( {{think.datetime(list.date, 'MM月DD, YYYY')}} )</i></time>
    </li>
    {% endfor %}
  </ul>
</section>
{% endfor %}
<div class="activeinfo">
  <h1>标签</h1>
  <p>本站所有文章一共使用了「 {{tagsLength}} 」个标签.您可以按照关键词标签迅速找到感兴趣的内容.</p>
</div>
<ul class="taglist">
  {% for list in tagsList | sort(reverse=true, attribute='count') %}
    <li>
      <a href="/tag/{{list.name}}.html">
        # {{list.name}}
        <span>{{list.count}}</span>
      </a>
    </li>
  {% endfor %}
</ul>
{% endblock %}