{% extends "./public.html" %}
{% block content %}
{% for list in articleList.data %}
<article>
  <div class="meta">
    <time datetime="{{think.datetime(list.date,'YYYY-MM-DD HH:mm:ss')}}" pubdate>
      {{controller.date(list.date)}}
    </time>
    <div class="comment">
      <a href="/article/{{list.routename}}.html#disqus_thread">{{list.comment}}&nbsp;Comments</a>
    </div>
    <div class="category">
      <a href="/categories.html#{{list.cateName.name}}" id="{{list.cateName.name}}">
        &nbsp;/&nbsp;
        {{list.cateName.name}}</a>
    </div>
  </div>
  <h1 class="title">
    <a href="/article/{{list.routename}}.html">{{list.title}}</a>
    {% if list.show == 0 %}
    &nbsp;<span>置顶</span>
    {% endif %}
  </h1>
  <div class="entry-content">
    <p>{{list.summary | safe}}[···]</p>
    <p class="readmore"><a href="/article/{{list.routename}}.html">阅读全文 »</a></p>
  </div>
</article>
{% endfor %}
{%if articleList.totalPages == 0 %}
<p class="emptyArticle">作者还没有撰写任何文章,或设定了文章不公开发布!</p>
{% endif %}
{% if articleList.totalPages!=1 %}
<div class="pagination-index">
  {% if articleList.currentPage < articleList.totalPages %}
  <a href="/p/{{articleList.currentPage+1}}.html" class="next">下一页 »</a>
  {% endif %}
  {% if articleList.currentPage!=1 %}
  <a href="/p/{{articleList.currentPage-1}}.html" class="prev">« 上一页</a>
  {% endif %}
  <p class="archive"><a href="/archives.html">归档</a></p>
</div>
{% endif %}
{% endblock %}