<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="author" content="{{config.author}}">
  <meta name="description" content="{% block description %}{{config.description}} 最新文章:{{newArticle}}{% endblock %}">
  <meta name="keywords" content="{% block keywords %}{{config.keywords | replace('|',',')}}{% endblock %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}{{config.title}}{% endblock %}</title>
  <link rel="alternate" href="/rss.html"  type="application/atom+xml" title="{{config.title}}">
  <link href="/static/css/home_style.css" rel="stylesheet" type="text/css" /> 
</head>
<body>
{% if isSupportBrowser %}
<div style="width: 100%;height: 40px; background-color: #FF0000; color: #fff; text-align: center; line-height: 40px;">您当前使用的IE浏览器版本过于老旧!本站不再兼容.请使用更为先进的浏览器,如:Chrome、 Safari、Firefox、IE10等,</div>
{% endif %}
<div id="container">
  <header>
    <h1><a href="/">{{config.title}}</a></h1>
    <p class=subtitle>·&nbsp;{{config.subtitle}}</p>
    <div class="sharegroup">
      <a href="/search.html" class="share search" title="search">搜索</a>
      <a href="https://github.com/{{config.github}}" target="_blank" class="share github" title="">github</a>
      <a href="/rss.html" class="share rss" target="_blank" >rss</a>
      <a href="" class="share linkin" >linkin</a>
      <a href="https://twitter.com/{{config.twitter}}" class="share twitter" target="_blank" >twitter</a>
      <a href="http://weibo.com/{{config.weibo}}" target="_blank" class="share weibo" >weibo</a>
    </div>
    <a href="/article/Link" class="menu">推荐</a>
    <a href="/article/About-me-wangwenbo.me" class="menu">关于</a>
    <a href="/archives.html" class="menu">归档</a>
    <a href="/categories.html" class="menu">专题</a>
    <a href="/" class="menu">👨‍🚀</a>
  </header>
  <div class="content">
    {% block content %}
    
    {% endblock %}
  </div>
</div>
<footer>
  <p>Powered&nbsp;by&nbsp;<a href="https://thinkjs.org" target="_blank">ThinkJS&nbsp;{{think.version}}</a>&nbsp;&&nbsp;&copy;2015-2017 咔花叔叔 <a href="">手工打造</a> - <a href="#top">△ TOP</a> - Not support IE6
    | 自营 - <a href="superset.love" target="_blank">superset.studio - 超集</a> · 礼品 - <a href="http://superset.gift">苣厂</a></p>
  <p>
  {{config.title}}&nbsp;-&nbsp;
    <a href="http://www.miitbeian.gov.cn/" target="_blank">鲁ICP备&nbsp;{{config.icp}}&nbsp;号</a>
    &nbsp;
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256496453'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1256496453' type='text/javascript'%3E%3C/script%3E"));</script>
  </p>
</footer>
</body>
</html>